::before::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'krubregular';
}

/* On met en place la première "slide" */

section{
    height:100vh;
}

.accueil {
    width: 100%;
    background: url('./img/enfant.jpg') no-repeat center center fixed;
    background-size: cover;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
    position:relative;
  
}

.presentation{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:10px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.logo{
    background-image: url(./img/logo.svg);
    background-size: cover;
    width:150px;
    height:150px;
}

.titre{
    font-family:"koulenregular";
    font-size: 5rem;
    color:#F9F5E4;
    bottom:20px;
}


.button-decouvrir {
    background-color: #F9F5E4;
    color:#36322F;
    font-size:1.5rem;
    padding: 10px 25px;
    text-decoration:none;
    border-radius: 20px;
    position:absolute;
    bottom:100px;
    left:50%;
    transform: translate(-50%, 0);
    border:none;
    cursor:pointer;
    transition: padding 0.1s ease-in-out;

}

.button-decouvrir:hover{
    padding:12px 30px;
}

/* On met en place la deuxième "slide" */

.deux {
    height: 100vh;
    background-color:#36322F ;
    padding:120px;
    box-sizing: border-box;
    /* background-attachment: fixed; */
    position: relative;
}

.deux h2 {
    font-family: "koulenregular";
    color:#F9F5E4;
    font-size:3.5rem;
    margin:0; 
}

p{
    line-height:1.5;
}

.par2{
    margin-top:60px;
}

.par1 p {
    color:#ffff;
    font-size:1.2rem;
}
.par2 p {
    width:78%;
    height: 40%;
    color:#ffff;
    font-size:1.2rem;
    position:relative;
    z-index: 5;
    
}

.logoMain{
    width:500px;
    height:500px;
    background-image: url(./img/helpingHands.svg);
    background-size: cover;
    background-position: center;
    position:absolute;
    bottom:-101px;;
    right:0;
}

/*On met en place la 3ème slide*/

.trois{
    height: 100vh;
    display:grid;
    grid-template-areas: 
        "choix evol evol constat"
        "choix facteurs facteurs constat"; 
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;       
    background-color:#a49488 ;
    box-sizing: border-box;
}

.choix{
    background-color: #7E6B5E;
    grid-area: choix;
}

.evol{  /*partie graphe evol en fonction du temps*/
    background-color: #B4BC96;
    border: solid 20px rgba(220, 225, 194, 0.70);
    grid-area: evol;
    display:flex;
    padding:30px;
    box-sizing: border-box;
}

.facteurs{ /*partie graphe en fonction de diff facteurs*/
    background-color: #e9e4d0;
    border: solid 20px #fffbe8;
    grid-area: facteurs;
    display:flex;
    padding:30px;
    box-sizing: border-box;

}



.constat{
    background-color: #D0B48F;
    grid-area: constat;
}








