::before::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'krubregular';
}

/* On met en place la première "slide" */

section{
    height:100vh;
}

.accueil {
    width: 100%;
    background: url('./img/enfant.jpg') no-repeat center center fixed;
    background-size: cover;
    box-shadow: 0 0 40px rgba(0, 0, 0, 4.5);
    position:relative;
  
}

.presentation{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:10px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.logo{
    background-image: url(./img/logo.svg);
    background-size: cover;
    width:150px;
    height:150px;
}

.titre{
    font-family:"koulenregular";
    font-size: 5rem;
    color:#F9F5E4;
    bottom:20px;
}


.button-decouvrir {
    background-color: #F9F5E4;
    color:#36322F;
    font-size:1.5rem;
    padding: 10px 25px;
    text-decoration:none;
    border-radius: 20px;
    position:absolute;
    bottom:100px;
    left:50%;
    transform: translate(-50%, 0);
    border:none;
    cursor:pointer;
    transition: padding 0.1s ease-in-out;

}

.button-decouvrir:hover{
    padding:12px 30px;
}

.deux {
    height: 100vh;
    background-color:#36322F ;
    background-attachment: fixed;
}

.trois{
    height: 100vh;
    background-color:#a49488 ;
}

